CREATE DATABASE QLKS
USE [QLKS]
GO
/****** Object:  Table [dbo].[BOPHANLAMVIEC]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHANLAMVIEC](
	[TenBP] [nvarchar](50) NOT NULL,
	[MaBP] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[MaDV] [nvarchar](10) NOT NULL,
	[SLDV] [int] NOT NULL,
	[ThoigianSDDV] [datetime] NOT NULL,
	[DongiaDV] [money] NOT NULL,
	[KMDV] [float] NOT NULL,
	[MaHDDV] [nvarchar](10) NOT NULL,
	
	
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC,
	[MaHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHONGDAT]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHONGDAT](
	[MaBooking] [nvarchar](10) NOT NULL,
	[SLPhong] [int] NOT NULL,
	[MaLP] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBooking] ASC,
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETVD]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETVD](
	[MaVD] [nvarchar](10) NOT NULL,
	[SLVD] [int] NOT NULL,
	[MaLP] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC,
	[MaVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [nvarchar](10) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[Donvitinh] [nvarchar](10) NOT NULL,
	[MaNHOMDV] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGHDTT]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGHDTT](
	[MaDV] [nvarchar](10) NOT NULL,
	[Thoigiansudung] [datetime] NOT NULL,
	[SLDichVu] [int] NOT NULL,
	[DongiaDV] [money] NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
	[KMDV] [float] NOT NULL,
	[MaHDTT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Thoigiansudung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDDV]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDDV](
	[MaHDDV] [nvarchar](10) NOT NULL,
	[ThoiGianLap] [datetime] NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTT]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTT](
	[MaHDTT] [nvarchar](10) NOT NULL,
	[Ghichu] [nvarchar](100) NULL,
	[NgayTT] [datetime] NULL,
	[NgayLapHD] [datetime] NULL,
	[PhuongthucTT] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaBooking] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[Dienthoai] [nvarchar](10) NOT NULL,
	[CCCD] [nvarchar](12) NULL,
	[Tuoi] [int] NULL,
	[Gioitinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLP] [nvarchar](10) NOT NULL,
	[Kieuphong] [nvarchar](10) NOT NULL,
	[Dientich] [float] NOT NULL,
	[Dongiaphong] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[SoCMND] [nvarchar](12) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[MaCV] [nvarchar](10) NOT NULL,
	[MaBP] [nvarchar](10) NOT NULL,
	[Gioitinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMDICHVU]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMDICHVU](
	[MaNHOMDV] [nvarchar](10) NOT NULL,
	[TenNHOMDV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNHOMDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MaBooking] [nvarchar](10) NOT NULL,
	[Tiendatcoc] [money] NOT NULL,
	[NgayDenDukien] [date] NOT NULL,
	[NgayDiDuKien] [date] NOT NULL,
	[Phuongthucdatcoc] [nvarchar](10) NULL,
	[MaKH] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MaPT] [nvarchar](10) NOT NULL,
	[ThoigianlapPT] [datetime] NOT NULL,
	[Thoigiancheckout] [datetime] NULL,
	[Thoigiancheckin] [datetime] NULL,
	[KMPhong] [float] NULL,
	[Dongiaphong] [money] NULL,
	[Maphong] [nvarchar](10) NOT NULL,
	[MaBooking] [nvarchar](10) NOT NULL,

PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[Maphong] [nvarchar](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[MaLP] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATDUNG]    Script Date: 11/10/2022 1:21:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATDUNG](
	[MaVD] [nvarchar](10) NOT NULL,
	[TenVD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOPHANLAMVIEC] ([TenBP], [MaBP]) VALUES (N'Bộ phận tiền sảnh', N'BP01')
INSERT [dbo].[BOPHANLAMVIEC] ([TenBP], [MaBP]) VALUES (N'Bộ phận dịch vụ', N'BP02')
INSERT [dbo].[BOPHANLAMVIEC] ([TenBP], [MaBP]) VALUES (N'Bộ phận buồng phòng', N'BP03')
GO
INSERT [dbo].[CHITIETDICHVU] ([SLDV], [ThoigianSDDV], [DongiaDV], [KMDV], [MaDV], [MaHDDV]) VALUES (1, CAST(N'2022-01-10T00:00:00.000' AS DateTime), 100000.0000, 1, N'DV001', N'HDDV0001')
INSERT [dbo].[CHITIETDICHVU] ([SLDV], [ThoigianSDDV], [DongiaDV], [KMDV], [MaDV], [MaHDDV]) VALUES (1, CAST(N'2022-03-14T00:00:00.000' AS DateTime), 100000.0000, 0.5, N'DV001', N'HDDV0019')
INSERT [dbo].[CHITIETDICHVU] ([SLDV], [ThoigianSDDV], [DongiaDV], [KMDV], [MaDV], [MaHDDV]) VALUES (1, CAST(N'2022-01-10T00:00:00.000' AS DateTime), 200000.0000, 0.1, N'DV002', N'HDDV0002')
GO
INSERT [dbo].[CHITIETPHONGDAT] ([SLPhong], [MaBooking], [MaLP]) VALUES (2, N'PD0001', N'Standard01')
INSERT [dbo].[CHITIETPHONGDAT] ([SLPhong], [MaBooking], [MaLP]) VALUES (1, N'PD0002', N'Standard02')
INSERT [dbo].[CHITIETPHONGDAT] ([SLPhong], [MaBooking], [MaLP]) VALUES (1, N'PD0003', N'Deluxe01')
GO
INSERT [dbo].[CHITIETVD] ([SLVD], [MaLP], [MaVD]) VALUES (1, N'Deluxe01', N'VD02')
INSERT [dbo].[CHITIETVD] ([SLVD], [MaLP], [MaVD]) VALUES (1, N'Deluxe01', N'VD03')
INSERT [dbo].[CHITIETVD] ([SLVD], [MaLP], [MaVD]) VALUES (4, N'Deluxe01', N'VD04')
GO
INSERT [dbo].[CHUCVU] ([TenCV], [MaCV]) VALUES (N'Trưởng phòng', N'CV01')
INSERT [dbo].[CHUCVU] ([TenCV], [MaCV]) VALUES (N'Nhân viên', N'CV02')
INSERT [dbo].[CHUCVU] ([TenCV], [MaCV]) VALUES (N'Quản lý', N'CV03')
GO
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [Donvitinh], [MaNHOMDV]) VALUES (N'DV001', N'Bữa sáng cho cặp đôi', N'Bữa', N'NDV01')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [Donvitinh], [MaNHOMDV]) VALUES (N'DV002', N'Bữa trưa cho cặp đôi', N'Bữa', N'NDV01')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [Donvitinh], [MaNHOMDV]) VALUES (N'DV003', N'Bữa tối cho cặp đôi', N'Bữa', N'NDV01')
GO
INSERT [dbo].[DONGHDTT] ([Thoigiansudung], [SLDichVu], [DongiaDV], [SoPhong], [KMDV], [MaHDTT], [MaDV]) VALUES (CAST(N'2022-01-10T00:00:00.000' AS DateTime), 1, 100000.0000, N'P101', 0.1, N'HDTT0001', N'DV001')
INSERT [dbo].[DONGHDTT] ([Thoigiansudung], [SLDichVu], [DongiaDV], [SoPhong], [KMDV], [MaHDTT], [MaDV]) VALUES (CAST(N'2022-01-10T10:10:00.000' AS DateTime), 1, 200000.0000, N'P101', 1, N'HDTT0001', N'DV002')
INSERT [dbo].[DONGHDTT] ([Thoigiansudung], [SLDichVu], [DongiaDV], [SoPhong], [KMDV], [MaHDTT], [MaDV]) VALUES (CAST(N'2022-01-19T00:00:00.000' AS DateTime), 1, 200000.0000, N'P102', 0, N'HDTT0002', N'DV002')
GO
INSERT [dbo].[HDDV] ([MaHDDV], [ThoiGianLap], [MaNV], [MaKH]) VALUES (N'HDDV0001', CAST(N'2022-01-10T00:00:00.000' AS DateTime), N'NV002', N'KH0001')
INSERT [dbo].[HDDV] ([MaHDDV], [ThoiGianLap], [MaNV], [MaKH]) VALUES (N'HDDV0002', CAST(N'2022-01-10T00:00:00.000' AS DateTime), N'NV002', N'KH0001')
INSERT [dbo].[HDDV] ([MaHDDV], [ThoiGianLap], [MaNV], [MaKH]) VALUES (N'HDDV0003', CAST(N'2022-01-19T00:00:00.000' AS DateTime), N'NV002', N'KH0002')
GO
INSERT [dbo].[HOADONTT] ([Ghichu], [NgayTT], [MaHDTT], [PhuongthucTT], [MaNV], [MaBooking], [NgayLapHD]) VALUES (NULL, CAST(N'2022-01-12T00:00:00.000' AS DateTime), N'HDTT0001', N'Cash', N'NV001', N'PD0001', CAST(N'2022-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[HOADONTT] ([Ghichu], [NgayTT], [MaHDTT], [PhuongthucTT], [MaNV], [MaBooking], [NgayLapHD]) VALUES (NULL, CAST(N'2022-01-21T00:00:00.000' AS DateTime), N'HDTT0002', N'Cash', N'NV001', N'PD0002', CAST(N'2022-01-19T00:00:00.000' AS DateTime))
INSERT [dbo].[HOADONTT] ([Ghichu], [NgayTT], [MaHDTT], [PhuongthucTT], [MaNV], [MaBooking], [NgayLapHD]) VALUES (NULL, CAST(N'2022-01-23T00:00:00.000' AS DateTime), N'HDTT0003', N'Cash', N'NV001', N'PD0003', CAST(N'2022-01-21T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[KHACHHANG] ([TenKH], [Diachi], [MaKH], [Dienthoai], [CCCD], [Tuoi], [Gioitinh]) VALUES (N'Narutobaco', N'Việt Nam', N'KH0001', N'0987654321', N'030099182831', 23, 1)
INSERT [dbo].[KHACHHANG] ([TenKH], [Diachi], [MaKH], [Dienthoai], [CCCD], [Tuoi], [Gioitinh]) VALUES (N'Sasukehehe', N'Việt Nam', N'KH0002', N'0987654123', N'030099182112', 45, 1)
INSERT [dbo].[KHACHHANG] ([TenKH], [Diachi], [MaKH], [Dienthoai], [CCCD], [Tuoi], [Gioitinh]) VALUES (N'Uchihahaha', N'Việt Nam', N'KH0003', N'0987657732', N'030099182718', 44, 1)
GO
INSERT [dbo].[LOAIPHONG] ([Kieuphong], [Dientich], [MaLP], [Dongiaphong]) VALUES (N'Single', 40.1, N'Deluxe01', 7000000.0000)
INSERT [dbo].[LOAIPHONG] ([Kieuphong], [Dientich], [MaLP], [Dongiaphong]) VALUES (N'Twin', 40.1, N'Deluxe02', 8000000.0000)
INSERT [dbo].[LOAIPHONG] ([Kieuphong], [Dientich], [MaLP], [Dongiaphong]) VALUES (N'Single', 20.1, N'Standard01', 2000000.0000)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCMND], [SDT], [MaCV], [MaBP], [Gioitinh]) VALUES (N'NV001', N'Nguyễn Thùy Linh', N'030202012456', N'0321542142', N'CV01', N'BP01', 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCMND], [SDT], [MaCV], [MaBP], [Gioitinh]) VALUES (N'NV002', N'Trần Đức Nam', N'030202065432', N'0321542132', N'CV02', N'BP02', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCMND], [SDT], [MaCV], [MaBP], [Gioitinh]) VALUES (N'NV003', N'Xuân Dã Anh', N'030202032156', N'0321542361', N'CV02', N'BP03', 1)
GO
INSERT [dbo].[NHOMDICHVU] ([TenNHOMDV], [MaNHOMDV]) VALUES (N'F&B', N'NDV01')
INSERT [dbo].[NHOMDICHVU] ([TenNHOMDV], [MaNHOMDV]) VALUES (N'Golf', N'NDV02')
INSERT [dbo].[NHOMDICHVU] ([TenNHOMDV], [MaNHOMDV]) VALUES (N'Làm đẹp', N'NDV03')
GO
INSERT [dbo].[PHIEUDAT] ([Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [MaBooking], [MaKH], [Phuongthucdatcoc]) VALUES (6000000.0000, CAST(N'2022-01-09' AS Date), CAST(N'2022-01-12' AS Date), N'PD0001', N'KH0001', N'Online')
INSERT [dbo].[PHIEUDAT] ([Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [MaBooking], [MaKH], [Phuongthucdatcoc]) VALUES (4000000.0000, CAST(N'2022-01-19' AS Date), CAST(N'2022-01-21' AS Date), N'PD0002', N'KH0002', N'Online')
INSERT [dbo].[PHIEUDAT] ([Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [MaBooking], [MaKH], [Phuongthucdatcoc]) VALUES (4000000.0000, CAST(N'2022-01-21' AS Date), CAST(N'2022-01-23' AS Date), N'PD0003', N'KH0003', N'Online')
GO
INSERT [dbo].[PHIEUTHUE] ([ThoigianlapPT], [MaPT], [Thoigiancheckout], [Thoigiancheckin], [Maphong], [MaBooking], [Dongiaphong], [KMPhong]) VALUES (CAST(N'2022-01-09T00:00:00.000' AS DateTime), N'PT0001', CAST(N'2022-01-12T00:00:00.000' AS DateTime), CAST(N'2022-01-09T00:00:00.000' AS DateTime), N'P101', N'PD0001', 2000000.0000, 0.1)
INSERT [dbo].[PHIEUTHUE] ([ThoigianlapPT], [MaPT], [Thoigiancheckout], [Thoigiancheckin], [Maphong], [MaBooking], [Dongiaphong], [KMPhong]) VALUES (CAST(N'2022-01-19T00:00:00.000' AS DateTime), N'PT0002', CAST(N'2022-01-21T00:00:00.000' AS DateTime), CAST(N'2022-01-19T00:00:00.000' AS DateTime), N'P102', N'PD0002', 2000000.0000, 0.1)
INSERT [dbo].[PHIEUTHUE] ([ThoigianlapPT], [MaPT], [Thoigiancheckout], [Thoigiancheckin], [Maphong], [MaBooking], [Dongiaphong], [KMPhong]) VALUES (CAST(N'2022-01-21T00:00:00.000' AS DateTime), N'PT0003', CAST(N'2022-01-23T00:00:00.000' AS DateTime), CAST(N'2022-01-21T00:00:00.000' AS DateTime), N'P301', N'PD0003', 7000000.0000, 0)
GO
INSERT [dbo].[PHONG] ([Maphong], [TinhTrang], [MaLP]) VALUES (N'P101', N'VCC', N'Standard01')
INSERT [dbo].[PHONG] ([Maphong], [TinhTrang], [MaLP]) VALUES (N'P102', N'VCC', N'Standard01')
INSERT [dbo].[PHONG] ([Maphong], [TinhTrang], [MaLP]) VALUES (N'P103', N'OCC', N'Standard02')
GO
INSERT [dbo].[tblLogin] ([username], [password]) VALUES (N'employee01', N'123456')
INSERT [dbo].[tblLogin] ([username], [password]) VALUES (N'employee02', N'654321')
INSERT [dbo].[tblLogin] ([username], [password]) VALUES (N'employee04', N'123123')
GO
INSERT [dbo].[VATDUNG] ([MaVD], [TenVD]) VALUES (N'VD01', N'Giường Queen')
INSERT [dbo].[VATDUNG] ([MaVD], [TenVD]) VALUES (N'VD02', N'Giường Đơn')
INSERT [dbo].[VATDUNG] ([MaVD], [TenVD]) VALUES (N'VD03', N'Vô tuyến')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DONGHDTT__76650C8F32165C8A]    Script Date: 11/10/2022 1:21:55 AM ******/
ALTER TABLE [dbo].[DONGHDTT] ADD UNIQUE NONCLUSTERED 
(
	[MaHDTT] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD FOREIGN KEY([MaHDDV])
REFERENCES [dbo].[HDDV] ([MaHDDV])
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT]  WITH CHECK ADD FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[CHITIETVD]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
ALTER TABLE [dbo].[CHITIETVD]  WITH CHECK ADD FOREIGN KEY([MaVD])
REFERENCES [dbo].[VATDUNG] ([MaVD])
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD FOREIGN KEY([MaNHOMDV])
REFERENCES [dbo].[NHOMDICHVU] ([MaNHOMDV])
GO
ALTER TABLE [dbo].[DONGHDTT]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[DONGHDTT]  WITH CHECK ADD FOREIGN KEY([MaHDTT])
REFERENCES [dbo].[HOADONTT] ([MaHDTT])
GO
ALTER TABLE [dbo].[HDDV]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HDDV]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONTT]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONTT]  WITH CHECK ADD FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaBP])
REFERENCES [dbo].[BOPHANLAMVIEC] ([MaBP])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([Maphong])
REFERENCES [dbo].[PHONG] ([Maphong])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
